/* BODY */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  background-color: #d6eadf;
  display: flex;
  flex-direction: column;
}

/* HEADER */

/* navbar */
.navbar-toggler {
  border: 2px solid white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1f776c;
  color: white;
  justify-content: space-around;
  border-bottom: 1px solid black;
  height: 4.5rem;
}
.nav {
  display: flex;
  flex-direction: row;
}
.links {
  padding: 0;
}
.links li {
  list-style-type: none;
  cursor: pointer;
}
.links li {
  list-style-type: none;
  cursor: pointer;
}
.links li a {
  text-decoration: none;
  color: white;
}
.links li a:hover {
  text-decoration: none;
  color: white;
  opacity: 75%;
}

.buttonNav {
  display: inline-block;
  background-color: #0c464c;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    filter: brightness(2);
  }
}

.mainIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
}

.imagenAside {
  width: 80%;
}

/* FOOTER */

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}
.footer p {
  margin: 0;
}
