body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background: #f8f9fa;
}
.day {
  border: 1px solid #ccc;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.day.active {
  background-color: lightgreen;
  font-weight: bold;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.filters select {
  width: 180px;
}
.filters button {
  min-width: 100px;
}
